.adminContainer{
  padding: 2rem;
}

.h1{
  font-size: 2rem;
  font-weight: 500;
}

.header{
  padding: 2rem
}
/* .h1{
  font-size: 1.3rem;
  font-weight: 500;
} */

.section{
  padding: 2rem;
  width: 100%;
}

.jobsTable{
  display: flex;
  flex-direction: column;
}
.jobsHeader{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(7, 1fr) 0rem;
  justify-items: start;
  background: white;
  font-weight: 500;
  padding: 1rem 3rem;
  border-bottom: 1px solid lightgrey;
}
.jobs{
  height: 100%;
  overflow-y: auto;
}
.job{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(7, 1fr) 0rem;
  background: white;
  justify-items: start;
  padding: 1rem 3rem;
}