.form{
  align-self: start;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(400px, 500px, 100%);
  background: white;
  padding: 2rem;
  gap: 2rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 7px;
}

.h1{
  font-size: 1.5rem;
}

.deadlineInput{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1rem;
  color: grey;
}

.deadlineInput input[type=datetime-local]{
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: 1rem;
  color: grey;
}

.nameInput{
  display: flex;
  align-self: center;
  align-items: center;
  font-size: 1rem;
  gap: 0.5rem;
  color: grey;
}

.nameInput input[type=text]{
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: grey;
}

.submitBtn{
  padding: 0.5rem 4rem;
  border: none;
  background-color: green;
  border-radius: 7px;
  color: white;
  font-size: 1rem;
}