.section{
  display: flex;
  position: relative;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}

.table{
  font-family: inherit;
  align-self: stretch;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.tableHeader{
  background: green;
  color: white;
}

.tableHeader th{
  padding: 1rem 1.5rem;
  font-weight: 800;
  text-align: left;
  font-size: 1rem;
  width: 1px;
  white-space: nowrap;
}

.tableRow{
  background: white;
}

.tableRow:nth-of-type(even){
  background: whitesmoke;
}

.tableRow td{
  padding: 0.5rem 1.5rem;
  font-size: 0.9rem;
  text-align: left;
  width: 1px;
  white-space: nowrap;
}

.tableRow td:last-of-type{
  text-align: right;
}

.deleteModal{
  display: grid;
  grid-template-areas: 
    "icon icon" 
    "msg msg"
    "button1 button2";
  padding: 2rem;
  border-radius: 7px;
  row-gap: 1rem;
  column-gap: 0.5rem;
}

.deleteMsg{
  grid-area: msg;
  justify-self: center;
  text-align: center;
  text-overflow: wrap;
}

.deleteModal .icon{
  grid-area: icon;
  justify-self: center;
  font-size: 4rem;
  align-self: center;
}

.cancelBtn{
  grid-area: button1;
  background: lightgrey;
  padding: 0.5rem 0;
  border-radius: 7px;
}

.deleteBtn{
  grid-area: button2;
  background: crimson;
  padding: 0.5rem 0;
  color: white;
  border-radius: 7px;
}

.updateModal{
  display: grid;
  grid-template-areas:
    "icon icon"
    "select select"
    "button1 button2";
  padding: 2rem;
  row-gap: 1rem;
  column-gap: 0.5rem;
}

.updateModal .icon{
  grid-area: icon;
  align-self: center;
  justify-self: center;
  font-size: 4rem;
}

.selectContainer{
  grid-area: select;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.select{
  font-family: inherit;
}

.updateBtn{
  grid-area: button2;
  background: green;
  color: white;
  border-radius: 7px;
}

.dropdownBtn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdownBtn .icon{
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}