.dropdownWrapper{
  position: relative;
  overflow: visible;
}

.dropdownMenu{
  position: absolute;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  background: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  overflow: visible;
}

.dropdownIcon{
  border: none;
  background: none;
  font-size: 1.2rem;
}

.item{
  width: auto;
  border-radius: 5px;
}

.item:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.item > button{
  border: none !important;
  background: none !important;
  padding: 0.5rem 0.5rem;
  padding-right: 2rem;
  font-size: 0.9rem;
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  gap: 0.25rem;
}

.item > a{
  padding: 0.5rem 0.5rem;
  padding-right: 2rem;
  font-size: 0.9rem;
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  text-decoration: none;
  font-family: inherit;
  cursor: default;
  gap: 0.25rem
}
