.LoginCard
{
    position: relative;
}
.image
{
    float:left;
    display: inline;
    width: 49%;
    margin: 130px 0 0 250px;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
    /* box-shadow: x y blur spread  */
    box-shadow: -6px 8px 20px 3px rgba(160, 160, 160, 0.308);
    width: 426px;
}

.welcomeText
{
    color: white;
    text-shadow: 0 3px 10px rgb(66, 66, 66);
    text-align: center;
    position: absolute;
    top: 180px;
    left: 365px;
    font-size: 38pt;
}