/* client/src/pages/auth/components/RegisterCard/style.module.css */
.registerCard{
  display: flex;
  width: clamp(600px, 700px, 100%);
}

.img{
  /* box-shadow: x y blur spread  */
  box-shadow: -6px 8px 20px 3px rgba(160, 160, 160, 0.308);
  width: 50%;
}
